body{
	margin: 0;
	padding: 0;
}

.contenedor{
	margin: 0;
	padding: 0;
}

.caja{
	width: 200px;
	height: 200px;
}

#rosa{
	background-color: #EE3E64;
	left: 0;
	top: 0;
}

#azul{
	background: #2B7DB9;
	right: 0;
	top: 0;
	left: 200px;
	position: relative;
}

#verde{
	background-color: #B7D84B;
	position: relative;
	left: 0;
	bottom: 200px;
}

#amarillo{
	background-color: #FAFF16;
	position: relative;
	right: 0;
	bottom: 200px;
}